<mat-card class="example-card">
    <mat-card-header style="    background: #ffd200;;
    position: relative;
    height: 71px;
    top: -24px;
    width: 112.5%;
    left: -25px;">
      <!-- <div mat-card-avatar class="example-header-image"><i class="fa fa-check" aria-hidden="true"></i></div> -->
      <mat-card-title><span style="top: 23px;position: relative;font-family: Roboto,'Helvetica Neue',sans-serif;font-size:20px">Employment Verification Request</span></mat-card-title>
      <!-- <mat-card-subtitle>Educational</mat-card-subtitle> -->
    </mat-card-header>
   
    <mat-card-content>
            <input style="width:100%;margin-top:7px" type="file" ng2FileSelect [uploader]="uploader" />
            <br>
            <mat-form-field style="width:100%;margin-top:17px"class="example-full-width" >
                    <textarea [(ngModel)]="requestModel.requestorRemarks"  [ngModelOptions]="{standalone: true}" matInput placeholder="Leave a comment"></textarea>
                  </mat-form-field>

                  
    </mat-card-content>
    <mat-card-actions>
            <button (click)="request()" mat-button style="margin-top:-8px">Send</button>
    </mat-card-actions>
  </mat-card>
