<div style="background: url(./assets/header_background.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height:96px">

<div style="    background-color: #292b2c;
border-radius: 5px;
border: 1px solid grey;
height: 60px;
width: 69%;
position: relative;
left: 18px;
top: 29px;">
<div style="color:white; font-weight: bold;width:100%;    text-align: center;">Menu</div>
<ul class="navbar-nav">
    <li class="nav-item active">
        <a style="color:white"class="nav-link" [routerLink]="['/candidate-profile/','IN339346']">Home</a>
      </li>
    <li class="nav-item active">
        <a style="color:white"class="nav-link" [routerLink]="['/candidate-home']">Create</a>
      </li>
      <li class="nav-item active">
          <a  [routerLink]="['/view/','IN339346']"style="color:white" class="nav-link">Preview/Update Details</a>
        </li>
  
      <li class="nav-item active">
        <a [routerLink]="['/employeeForm']" style="color:white" class="nav-link">Raise an Education Verification Request</a>
      </li>
      
      <li class="nav-item active">
          <a [routerLink]="['/job-request']" style="color:white" class="nav-link">Raise an Employement Verification Request</a>
        </li>

        <li class="nav-item active">
            <a  [routerLink]="['/applyCourse']"style="color:white" class="nav-link">Apply for Courses</a>
          </li>

      <li class="nav-item active">
          <a  [routerLink]="['/applyJob']"style="color:white" class="nav-link">Apply for Job</a>
        </li>
       
          <li class="nav-item active">
              <a  [routerLink]="['/']" style="color:white" class="nav-link">Logout</a>
            </li>
    </ul>

</div>
</div>
<div style="background:url('./assets/background.png'); height: 100%; 

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;">
  <h1 style="top: 18px;
  font-size: 35px;
  position: relative;
  left: 49px;width:29%">List of Request Raised</h1>

  <mat-card style="margin: 36px;">
    <button style=" background-color: #333333;" _ngcontent-c22="" (click)="openDialog()"mat-flat-button="" class="mat-flat-button mat-primary"><span class="mat-button-wrapper"><i class="fa fa-upload" style="margin-right: 8px;"aria-hidden="true"></i>New Request</span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></button>
  
  
   
  
        <div class="mat-elevation-z8" style="margin-top:20px">
          <table mat-table [dataSource]="dataSource">
        
            <!-- Position Column -->
            <ng-container matColumnDef="Request Id">
              <th style="background: #ffd200;font-weight:bold;padding:13px;font-size:14px" mat-header-cell *matHeaderCellDef> Request Id </th>
              <td  style="padding: 13px;"  mat-cell *matCellDef="let element" > {{element.RequestId}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="Candidate Id">
              <th style="background: #ffd200;font-weight:bold;padding:13px;font-size:14px" mat-header-cell *matHeaderCellDef> Candidate Id </th>
              <td style="padding: 13px;" mat-cell  *matCellDef="let element"> {{element.CandidateId}} </td>
            </ng-container>
    
            <ng-container matColumnDef="Status">
                <th style="background: #ffd200;font-weight:bold;padding:13px;font-size:14px"  mat-header-cell *matHeaderCellDef> Status </th>
                <td style="padding: 13px;"  mat-cell  *matCellDef="let element"> {{element.Status}} </td>
              </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="Candidate Remarks">
              <th style="background: #ffd200;font-weight:bold;padding:13px;font-size:14px" mat-header-cell *matHeaderCellDef> Candidate Remarks </th>
              <td style="padding: 13px;" mat-cell *matCellDef="let element"> {{element.CandidateRemarks}} </td>
            </ng-container>
    
            <ng-container matColumnDef="Verifier Remarks">
                <th style="background: #ffd200;font-weight:bold;padding:13px;font-size:14px" mat-header-cell *matHeaderCellDef> Verifier Remarks</th>
                <td style="padding: 13px;" mat-cell  *matCellDef="let element"> {{element.VerifierRemarks}} </td>
              </ng-container>
        
          
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
        
    
   


</mat-card>
</div>
